# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          9.0.x
          10.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --no-restore --configuration Release /p:PackageVersion=1.0.${{ github.run_number }}
    - name: Test
      run: dotnet test --no-build --verbosity normal --configuration Release
    - name: Pack NuGet
      run: dotnet pack AEL.Core/AEL.Core.csproj --configuration Release --no-build --output ./nupkgs /p:PackageVersion=1.0.${{ github.run_number }}
    - name: Publish NuGet
      #if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: |
        if compgen -G "./nupkgs/*.nupkg" > /dev/null; then
          dotnet nuget push ./nupkgs/*.nupkg --source https://nuget.pkg.github.com/AI-Empower-Labs/index.json --api-key ${{ secrets.NUGET_PAT }} --skip-duplicate
        else
          echo "No NuGet packages found to publish."
        fi
